/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json

/.tauri
/target
node_modules/
/.pnpm-store/
/tests/compatibility/*/gen/
/tests/compatibility/*/target/
/examples/tauri-app/src-tauri/gen/

dist
